<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.opinion.mapper.OpinionMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.opinion.model.Opinion" >
    <constructor >
      <idArg column="opid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="oplgbt" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="userid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="opltype" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="opdwtype" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="oplgrordw" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="optel" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="opbsrsf" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="opbssj" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="opbsr" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="opqfld" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pub" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="opjtnr" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fileid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="proid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="optjr" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="optjtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    opid, oplgbt, userid, opltype, opdwtype,oplgrordw, optel, opbsrsf, opbssj, opbsr,
    opqfld, pub, opjtnr, fileid, proid, optjr, optjtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from x_opinion
    where opid = #{opid,jdbcType=INTEGER}
  </select>
  <select id="queryOpinionPager" resultType="map" parameterType="com.zking.ssm.opinion.model.Opinion">
    SELECT opid,oplgbt,userid,xd1.dicname AS opltype,opdwtype,oplgrordw,optel,xd2.dicname AS opbsrsf,opbsr,opqfld,pub,opjtnr,fileid,
    proid,optjr,optjtime
    FROM X_Opinion xo LEFT JOIN x_dict xd1  ON xo.opltype=xd1.dicvalue AND xd1.dictype='opltype'
    LEFT JOIN x_dict xd2 ON xo.opbsrsf=xd2.dicvalue AND xd2.dictype='bsr'
    where 1=1
    <if test="null!=oplgbt and ''!=oplgbt">
      AND  oplgbt like concat(concat('%',#{oplgbt}),'%')
    </if>
    <if test="null!=opbsrsf and ''!=opbsrsf">
      AND opbsrsf =#{opbsrsf}
    </if>
    <if test="null!=optjr and ''!=optjr">
      AND optjr like concat(concat('%',#{optjr}),'%')
    </if>
    <if test="null!=opbsr and ''!=opbsr">
      AND opbsr LIKE  concat(concat('%',#{opbsr}),'%')
    </if>
    <if test="null!=opltype and ''!=opltype">
      AND opltype =#{opltype}
    </if>
    <if test="null!=start and ''!=start">
      AND opbssj &gt;=#{start}
    </if>
    <if test="null!=end and ''!=end">
      AND opbssj &lt;=#{end}
    </if>
    <if test="null!=opdwtype and ''!=opdwtype">
      AND opdwtype =#{opdwtype}
    </if>
    <if test="null!=opid and 0!=opid">
      and opid LIKE  concat(concat('%',#{opid}),'%')
    </if>
    ORDER BY optjtime desc
  </select>
  <select id="queryCount" resultType="map" parameterType="com.zking.ssm.opinion.model.Opinion">
    SELECT COUNT(*) AS count,xd.dicname AS opbsrsf FROM x_opinion
    xo INNER JOIN x_dict xd ON  xo.opbsrsf=xd.dicvalue AND xd.dictype='bsr' WHERE 1=1
    <if test="null!=start and ''!=start" >
      AND optjtime &gt;#{start}
    </if>
    <if test="null!=end and ''!=end">
      AND  optjtime &lt;#{end}
    </if>
    GROUP BY opbsrsf

  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from x_opinion
    where opid = #{opid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.opinion.model.Opinion" >
    insert into x_opinion ( oplgbt, userid,
      opdwtype,
      oplgrordw, optel, opbsrsf, 
      opbssj, opbsr, opqfld, 
      pub, opjtnr, fileid, 
       optjr
      )
    values (#{oplgbt,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER},
       #{opdwtype,jdbcType=VARCHAR},
      #{oplgrordw,jdbcType=VARCHAR}, #{optel,jdbcType=VARCHAR}, #{opbsrsf,jdbcType=VARCHAR}, 
      #{opbssj,jdbcType=TIMESTAMP}, #{opbsr,jdbcType=VARCHAR}, #{opqfld,jdbcType=VARCHAR}, 
      #{pub,jdbcType=VARCHAR}, #{opjtnr,jdbcType=VARCHAR}, #{fileid,jdbcType=VARCHAR}, 
      #{optjr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.opinion.model.Opinion" >
    insert into x_opinion
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="oplgbt != null" >
        oplgbt,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="opltype != null" >
        opltype,
      </if>
      <if test="opdwtype != null" >
        opdwtype,
      </if>

      <if test="oplgrordw != null" >
        oplgrordw,
      </if>
      <if test="optel != null" >
        optel,
      </if>
      <if test="opbsrsf != null" >
        opbsrsf,
      </if>
      <if test="opbssj != null" >
        opbssj,
      </if>
      <if test="opbsr != null" >
        opbsr,
      </if>
      <if test="opqfld != null" >
        opqfld,
      </if>
      <if test="pub != null" >
        pub,
      </if>
      <if test="opjtnr != null" >
        opjtnr,
      </if>
      <if test="fileid != null" >
        fileid,
      </if>
      <if test="proid != null" >
        proid,
      </if>
      <if test="optjr != null" >
        optjr,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="oplgbt != null" >
        #{oplgbt,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="opltype != null" >
        #{opltype,jdbcType=VARCHAR},
      </if>
      <if test="opdwtype != null" >
        #{opdwtype,jdbcType=VARCHAR},
      </if>

      <if test="oplgrordw != null" >
        #{oplgrordw,jdbcType=VARCHAR},
      </if>
      <if test="optel != null" >
        #{optel,jdbcType=VARCHAR},
      </if>
      <if test="opbsrsf != null" >
        #{opbsrsf,jdbcType=VARCHAR},
      </if>
      <if test="opbssj != null" >
        #{opbssj,jdbcType=TIMESTAMP},
      </if>
      <if test="opbsr != null" >
        #{opbsr,jdbcType=VARCHAR},
      </if>
      <if test="opqfld != null" >
        #{opqfld,jdbcType=VARCHAR},
      </if>
      <if test="pub != null" >
        #{pub,jdbcType=VARCHAR},
      </if>
      <if test="opjtnr != null" >
        #{opjtnr,jdbcType=VARCHAR},
      </if>
      <if test="fileid != null" >
        #{fileid,jdbcType=VARCHAR},
      </if>
      <if test="proid != null" >
        #{proid,jdbcType=INTEGER},
      </if>
      <if test="optjr != null" >
        #{optjr,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.opinion.model.Opinion" >
    update x_opinion
    <set >
      <if test="oplgbt != null" >
        oplgbt = #{oplgbt,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="opltype != null" >
        opltype = #{opltype,jdbcType=VARCHAR},
      </if>

      <if test="opxl != null" >
        opxl = #{opxl,jdbcType=VARCHAR},
      </if>
      <if test="oplgrordw != null" >
        oplgrordw = #{oplgrordw,jdbcType=VARCHAR},
      </if>
      <if test="optel != null" >
        optel = #{optel,jdbcType=VARCHAR},
      </if>
      <if test="opbsrsf != null" >
        opbsrsf = #{opbsrsf,jdbcType=VARCHAR},
      </if>
      <if test="opbssj != null" >
        opbssj = #{opbssj,jdbcType=TIMESTAMP},
      </if>
      <if test="opbsr != null" >
        opbsr = #{opbsr,jdbcType=VARCHAR},
      </if>
      <if test="opqfld != null" >
        opqfld = #{opqfld,jdbcType=VARCHAR},
      </if>
      <if test="pub != null" >
        pub = #{pub,jdbcType=VARCHAR},
      </if>
      <if test="opjtnr != null" >
        opjtnr = #{opjtnr,jdbcType=VARCHAR},
      </if>
      <if test="fileid != null" >
        fileid = #{fileid,jdbcType=VARCHAR},
      </if>
      <if test="proid != null" >
        proid = #{proid,jdbcType=INTEGER},
      </if>
      <if test="optjr != null" >
        optjr = #{optjr,jdbcType=VARCHAR},
      </if>
      <if test="optjtime != null" >
        optjtime = #{optjtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where opid = #{opid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.opinion.model.Opinion" >
    update x_opinion
    set oplgbt = #{oplgbt,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      opltype = #{opltype,jdbcType=VARCHAR},
      opdwtype = #{opdwtype,jdbcType=VARCHAR},
      oplgrordw = #{oplgrordw,jdbcType=VARCHAR},
      optel = #{optel,jdbcType=VARCHAR},
      opbsrsf = #{opbsrsf,jdbcType=VARCHAR},
      opbssj = #{opbssj,jdbcType=TIMESTAMP},
      opbsr = #{opbsr,jdbcType=VARCHAR},
      opqfld = #{opqfld,jdbcType=VARCHAR},
      pub = #{pub,jdbcType=VARCHAR},
      opjtnr = #{opjtnr,jdbcType=VARCHAR},
      fileid = #{fileid,jdbcType=VARCHAR},
      proid = #{proid,jdbcType=INTEGER},
      optjr = #{optjr,jdbcType=VARCHAR},
      optjtime = #{optjtime,jdbcType=TIMESTAMP}
    where opid = #{opid,jdbcType=INTEGER}
  </update>
  <update id="UpdateType" parameterType="com.zking.ssm.opinion.model.Opinion">
     update x_opinion
    set
      opltype = 'w2'
    where opid = #{opid,jdbcType=INTEGER}
  </update>
</mapper>