<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.system.mapper.ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.system.model.Module" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mtext" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="rows" type="com.zking.ssm.system.model.Module" >
    <id property="id" column="id" jdbcType="VARCHAR" javaType="java.lang.String"></id>
    <result property="pid" column="pid" jdbcType="VARCHAR" javaType="java.lang.String"/>
    <result property="mText" column="m_text" jdbcType="VARCHAR" javaType="java.lang.String"/>
    <result property="url" column="url" jdbcType="VARCHAR" javaType="java.lang.String"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, m_text, url
  </sql>
  <select id="selectByPrimaryKey" resultMap="rows" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from module
    where id = #{id,jdbcType=VARCHAR}
  </select>
    <select id="queryModule" resultMap="rows" resultType="com.zking.ssm.system.model.Module">
      select
      <include refid="Base_Column_List"></include>
      from module where pid!=99

    </select>
    <select id="queryModuleLst" resultType="map">
      select <include refid="Base_Column_List"/>
      from module where pid=#{pid}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from module
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.system.model.Module" >
    insert into module (id, pid, m_text, 
      url)
    values (#{id,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{mText,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.system.model.Module" >
    insert into module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="mText != null" >
        m_text,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="mText != null" >
        #{mText,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.system.model.Module" >
    update module
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="mText != null" >
        m_text = #{mText,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.system.model.Module" >
    update module
    set pid = #{pid,jdbcType=VARCHAR},
      m_text = #{mText,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>