<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.system.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.system.model.Role" >
    <constructor >
      <idArg column="roleId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="roleName" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    roleId, roleName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role
    where roleId = #{roleid,jdbcType=INTEGER}
  </select>
  <select id="queryRolePager" resultType="map" parameterType="com.zking.ssm.system.model.Role">
    SELECT <include refid="Base_Column_List"/>
    FROM role
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role
    where roleId = #{roleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.system.model.Role" >
    insert into role ( roleName)
    values ( #{rolename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.system.model.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        roleId,
      </if>
      <if test="rolename != null" >
        roleName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.system.model.Role" >
    update role
    <set >
      <if test="rolename != null" >
        roleName = #{rolename,jdbcType=VARCHAR},
      </if>
    </set>
    where roleId = #{roleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.system.model.Role" >
    update role
    set roleName = #{rolename,jdbcType=VARCHAR}
    where roleId = #{roleid,jdbcType=INTEGER}
  </update>
</mapper>