<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.system.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.system.model.User" >
    <constructor >
      <idArg column="uid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <idArg column="uname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="realname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    uid, uname, realname, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.zking.ssm.system.model.User" >
    select 
    <include refid="Base_Column_List" />
    from x_user
    where uid = #{uid,jdbcType=INTEGER}
      and uname = #{uname,jdbcType=VARCHAR}
  </select>
  <select id="queryUserPager" resultType="com.zking.ssm.system.model.User"
          parameterType="com.zking.ssm.system.model.User">
    SELECT  <include refid="Base_Column_List"/>
    from x_user
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zking.ssm.system.model.User" >
    delete from x_user
    where uid = #{uid,jdbcType=INTEGER}

  </delete>
  <insert id="insert" parameterType="com.zking.ssm.system.model.User" >
    insert into x_user ( uname, realname,
      password)
    values ( #{uname,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.system.model.User" >
    insert into x_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.system.model.User" >
    update x_user
    <set >
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
      and uname = #{uname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.system.model.User" >
    update x_user
    set realname = #{realname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      uname = #{uname,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}

  </update>
</mapper>